<section id="hire" class="py-4 md:py-10 px-6 md:px-24">
  <div class="bg-gray-100 rounded-lg p-5 h-full">
    <header class="grid grid-cols-3">
      <h3 class="col-span-2 font-semibold text-xl md:text-2xl">
        {{ hireInfo[currentStep].header }}
      </h3>
      <h3 class="justify-self-end text-base md:text-lg text-gray-700">
        Step {{ currentStep + 1 }} of 5
      </h3>
    </header>
    <form @submit.prevent class="mt-6">
      <template v-if="currentStep === 0">
        <div>
          <label>Choose your desired skillset</label>
          <vue-multiselect
            v-model="hireInfo[currentStep].inputs[0].values"
            :options="hireInfo[currentStep].inputs[0].options"
            :multiple="true"
            class="mt-2"
          ></vue-multiselect>
        </div>
        <div class="mt-3">
          <label>Hiring needs</label>
          <vue-multiselect
            v-model="hireInfo[0].inputs[1].value"
            :options="hireInfo[0].inputs[1].options"
            class="mt-2"
          ></vue-multiselect>
        </div>
      </template>
      <template v-else-if="currentStep === 1">
        <div>
          <label>Name</label>
          <div class="flex space-x-2 mt-2">
            <input v-model="hireInfo[1].inputs[0]" type="text" class="input" placeholder="Firstname">
            <input v-model="hireInfo[1].inputs[1]" type="text" class="input" placeholder="Lastname">
          </div>
        </div>
        <div class="mt-3">
          <label>Email Address</label>
          <input v-model="hireInfo[1].inputs[2]" type="email" class="input mt-2" placeholder="Email">
        </div>
        <div class="mt-3">
          <label>Phone Number</label>
          <input v-model="hireInfo[1].inputs[3]" type="number" class="input mt-2" placeholder="Phone">
        </div>
      </template>
      <template v-else-if="currentStep === 2">
        <h4 class="text-xl md:text-2xl">
          We need to set up a meeting with you to better understand your needs, then we will:
        </h4>
        <ul class="list-disc list-inside">
          <li>
            Send you engineers' resumes that comply with your needs
          </li>
          <li>
            Interview your engineer/engineers of choice
          </li>
          <li>
            Start your 4 week no-risk trial
          </li>
        </ul>
        <div class="flex mt-3">
          <label class="flex-none w-24 self-center">Pick a Date</label>
          <input v-model="hireInfo[2].date" type="datetime-local" class="input">
        </div>
      </template>
      <template v-else-if="currentStep === 3">
        <p>
          Okay Mr.<b>{{ hireInfo[1].inputs[1] }}</b>, you have a meeting on
          <b>{{ new Date(hireInfo[2].date).toLocaleString() }}</b> with us to fill us more on what you need. Sounds good?
        </p>
      </template>
      <template v-else>
        <h4 class="text-xl md:text-2xl">Talk to you soon!</h4>
      </template>
      <div class="flex space-x-2 mt-4">
        <button v-if="currentStep > 0 && currentStep < 4" @click="currentStep--" type="submit" class="button">
          Previous Step
        </button>
        <button v-if="currentStep < 4" @click="currentStep++" type="submit" class="button">
          {{ currentStep < 3 ? 'Next Step' : 'Yes' }}
        </button>
      </div>
    </form>
  </div>
</section>