<section :class="[currentStep === 2 ? 'min-screen-height' : 'screen-height']" class="py-4 md:py-10 px-6 md:px-24">
  <div class="bg-gray-100 rounded-lg p-5 h-full">
    <header class="grid grid-cols-3">
      <h3 class="col-span-2 font-semibold text-xl md:text-2xl">
        {{ hireInfo[currentStep].header }}
      </h3>
      <h3 v-if="currentStep < 4" class="justify-self-end text-base md:text-lg text-gray-700">
        Step {{ currentStep + 1 }} of 4
      </h3>
    </header>
    <form @submit.prevent class="mt-6">
      <template v-if="currentStep === 0">
        <div>
          <label>Choose your desired skillset</label>
          <vue-multiselect
            v-model="hireInfo[0].info[0].values"
            :options="hireInfo[0].info[0].options"
            :multiple="true"
            class="mt-2"
          />
        </div>
        <div class="mt-3">
          <label>Hiring needs</label>
          <vue-multiselect
            v-model="hireInfo[0].info[1].value"
            :options="hireInfo[0].info[1].options"
            class="mt-2"
          />
        </div>
      </template>
      <template v-else-if="currentStep === 1">
        <div>
          <label>Name</label>
          <div class="flex space-x-2 mt-2">
            <m-input v-model="hireInfo[1].info[0]" :regex="regexs.name" type="text" placeholder="First Name" />
            <m-input v-model="hireInfo[1].info[1]" :regex="regexs.name" type="text" placeholder="Last Name" />
          </div>
        </div>
        <div class="mt-3">
          <label>Email Address</label>
          <m-input v-model="hireInfo[1].info[2]" :regex="regexs.email" type="email" placeholder="Email" />
        </div>
        <div class="mt-3">
          <label>Phone Number</label>
          <vue-tel-input v-model="hireInfo[1].info[3]" dynamicPlaceholder :inputClasses="[isPhoneValid ? 'focus:ring-2 focus:ring-blue-500' : 'ring-2 ring-red-400', 'm-input']" />
        </div>
      </template>
      <div v-else-if="currentStep === 2" class="grid md:grid-cols-2 space-y-4 md:space-x-4 md:space-y-0">
        <article>
          <h4 class="text-xl md:text-2xl">
            We need to set up a meeting with you to better understand your needs, then we will:
          </h4>
          <ul class="list-disc list-inside">
            <li>
              Send you engineers' resumes that comply with your needs
            </li>
            <li>
              Interview your engineer/engineers of choice
            </li>
            <li>
              Start your 3 week no-risk trial
            </li>
          </ul>
        </article>
        <v-date-picker v-model="hireInfo[2].date" :min-date="new Date(new Date().getTime() + 1.728e+8)" mode="dateTime" is-required class="justify-self-center"/>
      </div>
      <template v-else-if="currentStep === 3">
        <p>
          Okay Mr.<b>{{ hireInfo[1].info[1] }}</b>, you have a meeting on
          <b>{{ new Date(hireInfo[2].date).toLocaleString() }}</b> with us to fill us more on what you need. Sounds good?
        </p>
      </template>
      <template v-else>
        <img src="images/meeting.svg" alt="Meeting" width="400" height="400" class="mx-auto">
        <h4 class="text-center text-3xl md:text-5xl font-semibold text-gray-700 mt-8">Talk to you soon!</h4>
      </template>
      <div class="flex space-x-2 mt-4">
        <button v-if="currentStep > 0 && currentStep < 4" @click="currentStep--, $event.target.blur()" type="submit" class="button">
          Previous Step
        </button>
        <button v-promise-btn v-if="currentStep < 4" @click="nextStep" type="submit" class="button">
          {{ currentStep < 3 ? 'Next Step' : 'Book a Meeting' }}
        </button>
      </div>
    </form>
  </div>
</section>