@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s ease;
  }
  
  .fade-enter-from, .fade-leave-to {
    opacity: 0;
  }
  
  html {
    scroll-behavior: smooth;
  }

  input,
  textarea,
  button,
  select,
  a,
  span {
    -webkit-tap-highlight-color: transparent;
  }
}

@layer components {  
  .button {
    @apply font-semibold py-2 md:py-3 px-4 rounded shadow-md transition focus:outline-none focus:ring-offset-2 focus:ring-2 focus:ring-blue-500 text-white bg-blue-500 focus:bg-blue-500 hover:bg-blue-700 focus:ring-offset-blue-200 disabled:opacity-50;
  }

  #jumbotron,
  #hire,
  #notfound {
    height: calc(100vh - 100px);
  }

  @media (min-width: 768px) {
    #navbar {
      height: 100px;
    }
  }
}
