@tailwind base;
@tailwind components;
@tailwind utilities;

#sidebar.active {
  width: 240px;
  box-shadow: 0 0 0 10000000000000px rgba(0, 0, 0, .5);
}

#sidebarChildrenWrapper {
  opacity: 0;
  transition: all .15s;
}

#sidebarChildrenWrapper.active {
  opacity: 1;
}
